SDKROOT = iphoneos
PRODUCT_NAME = $(TARGET_NAME)
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 16.0

INFOPLIST_FILE = Configurations/Info-iOS-Tests.plist
PRODUCT_BUNDLE_IDENTIFIER = au.com.pact-foundation.PactSwiftTests
CODE_SIGN_IDENTITY[sdk=macosx*] = -

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
